<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ site.icon | relative_url }}">

  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
  <meta property="og:locale" content="ja_JP">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta name="twitter:card" content="summary">
  <meta property="twitter:title" content="{{ site.title }}">
  <link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | relative_url }}" title="{{ site.title }}">
  
  <!-- CSS -->
  <!-- Bootstrap core CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" rel="stylesheet">
  <!-- Include Solid Icons, Brands Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" rel="stylesheet">
  <!-- slide show css-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FCMZC02LZZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FCMZC02LZZ');
  </script>
</head>
