---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
  <div class="row">
    <!-- SINGLE POST -->
    <div class="col-lg-8 article">
      <!-- Blog Post  -->
      {% if page.img %}
        <p><img class="img-responsive" src="{{ '/assets/img/blog/' | relative_url }}{{ page.date | date: "%Y-%m-%d"}}-{{ page.title }}/{{ page.img }}"></p>
      {% endif %}
      <a href="{{ page.url | relative_url }}"><h3 class="ctitle">{{ page.title }}</h3></a>
      <!--<p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>-->
      <csmall>
        <i class="fa-solid fa-calendar-days"></i>
        <span>{{ page.date | date: "%Y/%m/%d" }}</span>
      </csmall>
      
      {{ content }}

      <div class="spacing"></div>
      <!-- <h6>SHARE:</h6>
      <p class="share">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-tumblr"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>		 		
      </p> -->
    </div><!--/col-lg-8 -->
    
    {% include sidebar.html %}

  </div><!--/row -->
</div><!--/container -->

<style>
  .article p {
    margin-bottom: 4px;
    margin-top: 2px;
  }
</style>